@use "sass:map";

.battle {
  @include flex;
  @include reset-brouser;
  padding-bottom: 30px;
  &__header {
    max-width: map.get($elementSize, "mobile");
    @include reset-brouser;
    @include font($size: 40px, $height: 36px, $weight: 600);
    text-align: start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    align-self: flex-start;
    @include screenSize($size: 350px) {
      align-self: center;
    }
  }
  &__text {
    @include reset-brouser;
    @include font($size: 12px, $height: 15.6px);
    max-width: map.get($elementSize, "mobile");
    padding-bottom: 60px;
  }
  &__photo-box {
    @include reset-brouser;
    list-style: none;
    max-width: map.get($elementSize, "mobile");
  }
  &__photo {
    max-width: map.get($elementSize, "mobile");
  }
  &__img {
    max-width: map.get($elementSize, "mobile");
    padding-bottom: 30px;
  }
  &__image {
    padding-bottom: 20px;
    padding-top: 50px;
  }
}
