@use "sass:map";

.team {
  background-color: $secondBackground;
  @include flex;
  @include reset-brouser;
  padding-bottom: 30px;
  &__header {
    max-width: map.get($elementSize, "mobile");
    @include reset-brouser;
    @include font($size: 40px, $height: 36px, $weight: 600);

    padding-top: 23px;
    padding-bottom: 20px;
  }
  &__text {
    @include reset-brouser;
    @include font($size: 12px, $height: 15.6px);
    max-width: map.get($elementSize, "mobile");
    padding-bottom: 60px;
  }
  &__cards {
    padding-bottom: 20px;
  }
  &__persons {
    @include reset-brouser;
    list-style: none;
    max-width: map.get($elementSize, "mobile");
    margin-right: 28px;
  }
  &__person {
    @include flex;
  }
  &__photo {
    max-width: map.get($elementSize, "mobile");
    // margin-right: 28px;
  }
  &__name {
    @include reset-brouser;
    padding-top: 20px;
    padding-bottom: 5px;
    @include font($size: 18px, $height: 23.4px, $spacing: 0.055em);
    text-align: center;
    text-transform: uppercase;
  }
  &__occupation {
    @include reset-brouser;
    padding-bottom: 30px;
    @include font($size: 12px, $height: 15.6px);
    text-align: center;
  }
  &__slide {
    @include screenSize($size: 768px) {
      display: none;
    }
  }
}

.swiper {
  @include screenSize($size: 768px) {
    overflow: unset;
  }
}
