@import url(../vendors/normalize.css);
@font-face {
  font-family: "Noto Sans";
  src: url("../vendors/fonts/notosans.woff") format("woff"), url("../vendors/fonts/notosans.woff2") format("woff2");
}
.body {
  background-color: #000;
}

.page {
  padding: 0;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 1440px;
  font-family: "Noto Sans", Arial, sans-serif;
  color: #fff;
}

.header {
  width: 87.5%;
  height: 152px;
  padding: 19px 6.25% 31px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 16px;
  width: 26px;
  height: 36px;
  background-image: url(../images/figure.svg);
}
.header::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 60px;
  background-image: url(../images/mobile-header-back.svg);
  top: 92px;
  right: 20px;
}
.header__button {
  width: 140px;
  height: 30px;
  background-color: #009465;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 8px;
  font-size: 10px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #fff;
  align-self: end;
}
.header__club {
  width: 63px;
  height: 40px;
  background-color: #5036e6;
  text-align: center;
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 50px 50px 0;
  margin-bottom: 29px;
}
.header__club-text {
  font-size: 12px;
  line-height: 10.8px;
  font-weight: 500;
  letter-spacing: 0;
  color: #fff;
}

.title {
  width: 87.5%;
  padding: 0 6.25% 6.25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title__header {
  max-width: 280px;
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 0;
  color: #fff;
  padding-bottom: 20px;
}
.title__subtitle {
  max-width: 280px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 15.6px;
  font-weight: 400;
  letter-spacing: 0;
  color: #fff;
  padding-bottom: 110px;
}
.title__image {
  max-width: 280px;
}

.team {
  background-color: #5036e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}
.team__header {
  max-width: 280px;
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 0;
  color: #fff;
  padding-top: 23px;
  padding-bottom: 20px;
}
.team__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 15.6px;
  font-weight: 400;
  letter-spacing: 0;
  color: #fff;
  max-width: 280px;
  padding-bottom: 60px;
}
.team__cards {
  padding-bottom: 20px;
}
.team__persons {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 280px;
}
.team__person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team__photo {
  max-width: 280px;
}
.team__name {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  letter-spacing: 0.055em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.team__occupation {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 15.6px;
  font-weight: 400;
  letter-spacing: 0;
  color: #fff;
  text-align: center;
}

.invite {
  background-color: #5036e6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/mobile-team-back.svg);
  background-size: 87.5%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.invite__header {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 40px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 0;
  color: #fff;
}
.invite__text {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-bottom: 200px;
  font-size: 12px;
  line-height: 15.6px;
  font-weight: 400;
  letter-spacing: 0;
  color: #fff;
}

.battle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}
.battle__header {
  max-width: 280px;
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 0;
  color: #fff;
  text-align: start;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  align-self: flex-start;
}
.battle__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 15.6px;
  font-weight: 400;
  letter-spacing: 0;
  color: #fff;
  max-width: 280px;
  padding-bottom: 60px;
}
.battle__photo-box {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 280px;
}
.battle__photo {
  max-width: 280px;
}
.battle__img {
  max-width: 280px;
  padding-bottom: 30px;
}
.battle__image {
  padding-bottom: 20px;
  padding-top: 50px;
}

.footer {
  background-color: #5036e6;
}/*# sourceMappingURL=style.css.map */